<canvas id="graphic-bar"></canvas>

<script>
  const ctxBars = document.getElementById('graphic-bar');
  let entrada = JSON.parse('{{ statistics.total[0]|round(2) }}');
  let saida = JSON.parse('{{ statistics.total[1]|round(2)|abs }}');

  new Chart(ctxBars, {
    type: 'bar',
    data: {
      labels: ['Entrada', 'Saida'],
      datasets: [{
        label: 'R$',
        backgroundColor: [
          'rgba(75, 192, 192, 0.2)',
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgb(75, 192, 192)',
          'rgb(255, 99, 132)'
        ],
        data: [entrada, saida],
        borderWidth: 2
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
